# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL=""

# API Key
API_KEY=""

# Auth.js
#NEXTAUTH_SECRET="" 
AUTH_SECRET="" 
# Entra - https://authjs.dev/getting-started/providers/microsoft-entra-id
AUTH_MICROSOFT_ENTRA_ID_ID=""
AUTH_MICROSOFT_ENTRA_ID_SECRET=""
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=""
